/* Стилі компонентка статистики */
.statistics {
  width: 100%;
  display: block;
  padding: 15px 20px 25px;
  margin-bottom: 15px;

  background-color: #f3f4f8;
  border: 1px solid black;
}
.statistics__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.18;
}
.statistics__stat-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.stat-item__label,
.stat-item__percentage {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.14;
}
.stat-item__label {
  margin-right: 6px;
}