/* Стилі компоненту списку друзів  */
.friends-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-bottom: 15px;
  padding: 15px 30px 15px;
  background-color: #f3f4f8;
  border: 1px solid black;
}
.friends-list__item {
  display: flex;
  gap: 5%;
}
.friends__status {
  display: block;
  width: 15px;
  height: 15px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #161414;
}
.online-status {
  composes: friends__status;
  background-color: #30ea30;
}
.offline-status {
  composes: friends__status;
  background-color: #f73131;
}
.friends__name {
  margin: auto 0;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
}
